@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@keyframes deplacerCarre {
  0% { transform: translateY(-150px); }
  100% { transform: translateY(0px); }
}

#Status {
    font-family:sans-serif;
    text-align: left;
    position:absolute;
    margin-top: 0px;
}

#Build {
    font-family:sans-serif;
    text-align: left;
    position:absolute;
    margin-top: 15px;
}

#Version {
    font-family:sans-serif;
    text-align: left;
    position:absolute;
    margin-top: 30px;
}

#Updated {
    font-family:sans-serif;
    text-align: left;
    position:absolute;
    margin-top: 45px;
}

body {
    color: white;
    text-align: center;
    font-family: "Fredoka One", cursive;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    -webkit-tap-highlight-color:transparent;
    font-weight: Normal;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(70%);
    user-select: none;
}
/* 
=========================================
   VIEWS
========================================= 
*/
.views-wrapper {
    display: flex;
    margin-top: -40px;
    width: 200%;
    height: 100%;
    transition: transform 0.35s ease-in-out;
}

.view {
    --width: 50%;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    padding: 15px;
    box-sizing: border-box;
    --display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
    scroll-behavior: smooth;
}

/* Taille */
.hero.hero-tall {
    height: 550px;
}

.hero.about-tall {
    height: 550px;
}

.hero.projects-tall {
    height: 300px;
}

.hero.mozaikplus-tall {
    height: 550px;
}

.hero.downloadmozaikplus-tall {
    height: 550px;
}

.hero.robloxhome-tall {
    height: 550px;
}

.hero.social-tall {
    height: 550px;
}

.hero.roblox-tall {
    height: 340px;
}

.hero.youtube-tall {
    height: 340px;
}

.hero.discord-tall {
    height: 280px;
}

.hero.geometrydash-tall {
    height: 280px;
}

/* Class */
.show-menu {
    transform: translateX(-50%); 
}

.show-about {
    transform: translateX(-100%); 
}

.show-social {
    transform: translateX(-100%); 
}

.show-projects {
    transform: translateX(-100%); 
}

.show-mozaikplus {
    transform: translateX(-150%); 
}

.show-downloadmozaikplus {
    transform: translateX(-200%); 
}

.show-roblox {
    transform: translateX(-150%); 
}

.show-robloxhome {
    transform: translateX(-150%); 
}

.show-youtube {
    transform: translateX(-150%); 
}

.show-discord {
    transform: translateX(-150%); 
}

.show-geometrydash {
    transform: translateX(-150%); 
}


/* Other */

#menu-view h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

#social-view h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

#projects-view h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

div#home-view.view {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 13px;
  flex-wrap: wrap;
  padding: 25px;
}

div#menu-view.view {
  vertical-align: middle;
  padding-top: 90px;
  align-content:center;
}

div#about-view.view {
  --vertical-align: middle;
  padding-top: 140px;
  align-content:center;
}

div#projects-view.view {
  vertical-align: middle;
  padding-top: 90px;
  align-content:center;
}

div#mozaikplus-view.view {
  --vertical-align: middle;
  padding-top: 140px;
  align-content:center;
}

div#downloadmozaikplus-view.view {
  --vertical-align: middle;
  padding-top: 140px;
  align-content:center;
}

div#robloxhome-view.view {
  --vertical-align: middle;
  padding-top: 140px;
  align-content:center;
}

div#social-view.view {
  vertical-align: middle;
  padding-top: 90px;
  align-content:center;
}

div#roblox-view.view {
  vertical-align: middle;
  padding-top: 120px;
  align-content:center;
}

div#youtube-view.view {
  vertical-align: middle;
  padding-top: 120px;
  align-content:center;
}

div#discord-view.view {
  vertical-align: middle;
  padding-top: 120px;
  align-content:center;
}

div#geometrydash-view.view {
  vertical-align: middle;
  padding-top: 120px;
  align-content:center;
}

img#AboutOptionIco.box-icon {
    width: 32px;
    height: 32px;
}

img#ProjectsOptionIco.box-icon {
    width: 40px;
    height: 40px;
}

img#MozaikPlusOptionIco.box-icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

img#robloxhomeOptionIco.box-icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

img#SocialOptionIco.box-icon {
    width: 40px;
    height: 40px;
}

img#MenuOptionIco.box-icon {
    width: 32px;
    height: 32px;
    padding-bottom: 4px;
}

img#RobloxOptionIco.box-icon {
    width: 38px;
    height: 38px;
    border-radius: 6px;
}

img#DiscordOptionIco.box-icon {
    width: 38px;
    height: 38px;
    border-radius: 6px;
}

img#GDOptionIco.box-icon {
    width: 38px;
    height: 38px;
    border-radius: 6px;
}


/* =========================================
   ORDRE DES VUES (LE JEU DES SLOTS)
   ========================================= */

/* 1. Base : L'accueil et le menu sont toujours aux Slots 1 et 2 */
#home-view { order: 1; }
#menu-view { order: 2; }

/* On cache toutes les autres vues super loin (10+) pour qu'elles ne s'affichent pas par erreur */
#about-view { order: 10; }
#projects-view { order: 11; }
#social-view { order: 12; }
#roblox-view { order: 20; }
#youtube-view { order: 21; }
#discord-view { order: 22; }
#geometrydash-view { order: 23; }
#mozaikplus-view { order: 24; }
#robloxhome-view { order: 25; }
#downloadmozaikplus-view { order: 26; }

/* 2. SLOT 3 (Translation -100%) : About ou Social */
.about-active-order #about-view { order: 3; }
.projects-active-order #projects-view { order: 3; }
.social-active-order #social-view { order: 3; }

/* 3. SLOT 4 (Translation -150%) : Les réseaux spécifiques */
.roblox-active-order #roblox-view { order: 4; }
.youtube-active-order #youtube-view { order: 4; }
.discord-active-order #discord-view { order: 4; }
.geometrydash-active-order #geometrydash-view { order: 4; }
.mozaikplus-active-order #mozaikplus-view { order: 4; }
.robloxhome-active-order #robloxhome-view { order: 4; }

.downloadmozaikplus-active-order #downloadmozaikplus-view { order: 5; }

/* =========================================
   NAVBAR
   ========================================= */
.navbar-container {
    background-color: #332d2d;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin: 20px auto;
    box-shadow: var(--shd,0 1px 4px #0009);
    animation: deplacerCarre 0.5s ease-in-out;
    display: none;
}

.nav-btn {
    background-color: #5b4cd8;
    color: white;
    border: none;
    font-family: 'Arial', sans-serif;
    padding: 15px 30px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 30px;
    font-size: 18px;
}

.icon-btn {
    background-color: #5b4cd8;
    color: white;
    border: none;
    padding: 12px 12px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 5px;
}

.nav-btn:hover, .icon-btn:hover {
    filter: brightness(1.2);
}

i.fa-solid.fa-envelope {
    font-size: 20px;
}


/* =========================================
   HERO
   ========================================= */

.hero {
    display: Block;
    margin: auto;
    width: 90%;
    max-width: 800px;
    text-align: center;
    background-color: rgba(28, 28, 28, 0.85);
    color: white;
    border-radius: 20px;
    box-shadow: 0 1px 4px #0009;
    position: relative;
    overflow: hidden;
    height: 300px; 
    transition: height 0.35s ease-in-out;
    align-items: center;
}

/* =========================================
   ÉLÉMENTS INTÉRIEURS DES VUES
   ========================================= */

.hero h1 {
    font-size: 100px;
    margin-bottom: 0px;
}

body section p {
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

.option-box {
    background-color: rgba(66, 66, 66, 0.5);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    max-width: 762px;
    font-size: 1.4rem;
    text-align:left;
    padding-left: 15px;
    text-overflow:clip;
    user-select: none;
}

.option-text {
    background-color: rgba(255, 255, 255, 0.02);
    color: rgb(255, 255, 255);
    display: block;
    justify-content: flex-start;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    border-radius: 15px;
    max-width: 762px;
    font-size: 1.4rem;
    text-align:left;
    text-overflow:clip;
    padding: 8px;
}

#TextTitle {
    font-family: "Fredoka One";
    font-weight: normal;
    padding-left: 15px;
}

#TextParagraph {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    padding-left: 15px;
}

#AboutBox {
    padding-bottom: 5px;
}

.option-box:hover {
    background-color: #5c5c5c;
    transform: translateY(-3px);
}

.back-btn {
    position:relative;
    top: 12px;          
    left: 12px;          
    background-color: transparent;
    border:none;
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 10;
}

.back-btn:hover {
    background-color: rgba(97, 97, 97, 0.5);
    color: white;
    transform: scale(1.1);
}

.back-btn:active {
    --background-color: transparent;
    color: white;
}

.back-btn.disabled {
    opacity: 0.3;          /* Le rend "grisé" */
    pointer-events: none;  /* Empêche le clic */
    cursor: default;       /* Change le curseur */
    background-color: transparent !important;
}

#OptionsTitle {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  font-size: 30px;
  font-weight: Normal;
  display: flex;
  gap: 15px;
  -webkit-user-drag: none;
}

#Willixau-title {
    font-size: 4.2rem;
    user-select: none;
    --margin-bottom: 15px;
    margin-top: 15px;
}

#Willixau-description {
    font-size: 1.75rem;
    user-select: none;
}

button:focus, a:focus {
    outline: none;
}

img.box-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    display: flex;
    user-select: none;
    -webkit-user-drag: none;
}

img.box-iconC {
    width: 30px;
    height: 30px;
    object-fit: contain;
    display: flex;
    user-select: none;
    border-radius: 6px;
    -webkit-user-drag: none;
}

img#RoundedIco.box-icon {
    border-radius: 6px;
}


.btn-press {
    /* Assure une transition fluide pour l'effet */
    transition: transform 0.15s ease;
}

/* L'effet se déclenche quand on clique (état actif) */
.btn-press:active {
    transform: scale(0.95); /* Le bouton rétrécit de 5% au clic */
}

.logo-bas-droite {
    position: fixed;
    bottom: 20px; /* Distance par rapport au bas de l'écran */
    right: 20px;  /* Distance par rapport à la droite de l'écran */
    z-index: 9999; /* Permet de s'assurer que le logo est au-dessus du reste */
    width: 40px; /* Ajustez la taille de votre logo */
    user-select: none;
    -webkit-user-drag: none;
}

.logo-text {
    position: fixed;
    bottom: 10px; /* Distance par rapport au bas de l'écran */
    right: 80px;  /* Distance par rapport à la droite de l'écran (ajustez selon la taille du logo) */
    z-index: 9999; /* Permet de s'assurer que le texte est au-dessus du reste */
    font-size: 1.5rem; /* Ajustez la taille du texte */
    color: white; /* Couleur du texte */
    font-weight: Normal;
    user-select: none;
}

#Credits {
    position: absolute;
    bottom: 50px;
    right: 20px;
    z-index: 9999;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

button#btn-explore.cta-button {
  user-select: none;
  margin-top: 15px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
}

.box-icon {
    user-select: none;
}

.box-icon4 {
    width: 150px;
    height: 150px;
    padding: 0;
}

#Externe.box-icon {
    margin-left: auto;
    padding-right: 10px;
}

#DiscordUsername {
    user-select:auto;
}

#DiscordUsername:hover {
    background-color: transparent;
    cursor:auto
}

#DiscordUserid {
    user-select:auto;
}

#DiscordUserid:hover {
    background-color: transparent;
    cursor:auto
}

.ProfileHistoryClass {
    height: 120px;
    padding-top: 50px;
    align-items: flex-start;
    position: relative;
    --align-items: center;
    --justify-content: center;
    margin-top: -50px;
    font-size: 30px;
    font-weight: Normal;
    display:flexbox;
    --gap: 15px;
    user-select: all;
}

#ProfileHistoryText {
    font-size: 25px;
    justify-content: center;
}

#ProfileHistory5Ico {
    border-radius: 50px;
}

.option-box2 {
    background-color: rgba(66, 66, 66, 0.5);
    color: rgb(255, 255, 255);
    --display: grid;
    --justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    border-radius: 15px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    max-width: 762px;
    font-size: 1.4rem;
    text-align:center;
    text-overflow:clip;
}

.option-box2:hover {
    background-color: #5c5c5c;
    transform: translateY(-3px);
}

img.box-icon2 {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: grid;
    justify-content: center;
    align-items:center;
    margin-inline: auto;
}

#VideoHistory {
    border-radius: 25px;
    padding: 15px;
    user-select: none;
    box-sizing: border-box;
}

img.box-icon3 {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 25px;
    object-fit: contain;
    display: grid;
    margin-inline: auto;
}

#Home-Profile {
    border-radius: 100px;
    height: min-content;
    width:22%;
    min-width: 75px;
    user-select: none;
}

#WillixauStuff {
    height: 60%;
}

#link {
    color: white;
}

#LearnMoreRoblox {
    align-items: center;
    justify-content: center;
}

#GameRoblox {
    align-items: center;
    justify-content: center;
}

#lang-toggle {
    position: fixed;
    display: flex;
    right: 20px;
    width: 70px;
    height: 40px;
    margin: 20px auto;
    background-color: rgba(28, 28, 28, 0.85);
    color: white;
    box-shadow: 0 1px 4px #0009;
    border-radius: 8px;
    border-style:hidden;
    transition: transform 0.2s ease, background-color 0.2s ease;
    user-select: none;
    cursor: pointer;
    font-family: "Fredoka One";
    font-weight: normal;
    background-image: url('Assets/Langue.png');
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 10px;
    padding-right: 15px;
    justify-content: right;
    align-items:center;
    Z-index: 1000;
}

#lang-toggle:hover {
    background-color: #5c5c5c;
    transform: translateY(-3px);
}